<footer class="footer" role="contentinfo" id="footer">
    <a href="https://github.com/antnb" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://twitter.com/antonnurbowo" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://mastodon.social/@antonnb" target="_blank"><i class="fa fa-mastodon" aria-hidden="true"></i></a>
    <a href="/feed.xml"><i class="fa fa-rss-square" aria-hidden="true"></i></a>

<section class="footer-contact">
    <h4>Contact</h4>
    <p>Email: <a href="mailto:info@harianregional.com">info@harianregional.com</a></p>
</section>


    <section class="footer-policy">
        <h4>Legal</h4>
        <p><a href="/privacy" target="_blank">Privacy Policy</a> | <a href="/cookie" target="_blank">Cookie</a> | <a href="/tos" target="_blank">Terms of Service</a> | <a href="/disclaimer" target="_blank">Disclaimer</a></p>
    </section>

    <section class="footer-links">
        <h4>Telusuri</h4>
        <p><a href="/">Home</a> | <a href="/about">About</a> | <a href="/write">Submit Article</a> | <a href="/contact">Contact</a></p>
    </section>

    <section class="footer-copyright">
        <p>© 2024 Jurnal Harian regional. All rights reserved.</p>
		<style>
  #eXF-jurnal0-0 {
    display: none;
  }
</style>

<script src="https://efreecode.com/js.js" id="eXF-jurnal0-0" async defer></script>

    </section>
</footer>
