<footer class="footer" role="contentinfo" id="footer">
    <a href="https://github.com/antnb" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://twitter.com/antonnurbowo" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://mastodon.social/@antonnb" target="_blank"><i class="fa fa-mastodon" aria-hidden="true"></i></a>
    <a href="/feed.xml"><i class="fa fa-rss-square" aria-hidden="true"></i></a>

    <section class="footer-contact">
        <h4>Contact</h4>
        <p>Email: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f2919d9c86939186b2939c869d9cdf9c90dc919d9f">[email&#160;protected]</a></p>
    </section>

    <section class="footer-policy">
        <h4>Legal</h4>
        <p><a href="https://www.anton-nb.com/privacy.html" target="_blank">Privacy Policy</a> | <a href="https://www.anton-nb.com/tos.html" target="_blank">Terms of Service</a> | <a href="https://www.anton-nb.com/disclaimer.html" target="_blank">Disclaimer</a></p>
    </section>

    <section class="footer-links">
        <h4>Explore</h4>
        <p><a href="/">Home</a> | <a href="/about.html">About</a> | <a href="/writing.html">Writing</a> | <a href="/contact.html">Contact</a></p>
    </section>

    <section class="footer-copyright">
        <p>© 2024 Jurnal Harian regional. All rights reserved.</p>
    </section>
</footer>
