<header>
  <nav class="nav">
    <div class="nav-container">
      <a href="{{ site.baseurl }}/">
        <h2 class="nav-title">{{ site.title }}</h2>
      </a>
      <h2 id="accessible-menu-label" class="visually-hidden">
        <a href="#main">Quick jump to page content</a>
      </h2>
      <ul>
        <li><a href="{{ site.baseurl }}/">Jurnal</a></li>
        <li><a href="{{ '/tags' | prepend: site.baseurl }}">Kata Kunci</a></li>
        <li><a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>