.catalogue-item p {
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Adjust the number of lines to show */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}


  &-pinned {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-time {
    color: #555; /* Text color */
    font-family: $serif-secondary;
    letter-spacing: .5px;
    text-decoration: none; /* Remove the default underline */

    /* Add a colored underline */
    border-bottom: 2px solid blue; /* Adjust the color and thickness as needed */
    display: inline; /* Ensures the underline stays only under the text */
  }

&-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 1.5rem;
    overflow-wrap: break-word;
    max-width: 100%; /* Set the maximum width as needed */
    font-weight: 700;
    margin: .5rem 0;
}


  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }
}
